#root {
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  margin: 0.5rem;

}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.word-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 2rem;
  max-width: 900px;
}

.word {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 70px;
  height: 35px;
  font-size: small;
  border-radius: 0.6rem;
  background-color: #C6C5B9;
  color: #14181f;
  transition: ease-in-out 0.1s;
  border: solid 1px #14181f;
}

.selected {
  background-color: #62929E;
  color: #FDFDFF;
  transition: ease-in-out 0.1s;
}

.word:hover {
  scale: 1.05;
  transition: ease-in-out 0.1s;
}

.word:active {
  scale: 0.95;
  transition: ease-in-out 0.1s;
}

.group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FDFDFF;
  background-color: #62929E;
  border-radius: 0.6rem;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.group > p {
  margin: 0.5rem;
}

.group-element-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.app-button {
  font-size: large;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 0.1rem;
  background-color: #C6C5B9;
  color: #393D3F;
  scale: 1;
  transition: ease-in-out 0.1s;
}

.app-button:disabled {
  border: 0;
  background-color: #383838;
  color: #222222;
  transition: ease-in-out 0.1s;
}

.app-button:enabled:hover {
  background-color: #67cc8e;
  color: #FDFDFF;
  scale: 1.1;
  transition: ease-in-out 0.1s;
}

.app-button:enabled:active {
  scale: 0.9;
  transition: ease-in-out 0.1s;
}

.new-game-button {
  margin-top: 1rem;
  font-size: medium;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.1rem;
  background-color: #30353d;
  color: #C6C5B9;
  scale: 1;
  transition: ease-in-out 0.1s;
}

.new-game-button:hover {
  background-color:#FDFDFF;
  color:#14181f;
}